:root{
    --main-color: #ebe9f8;
    /*
    Primary
    --Pink: hsl(322, 100%, 66%)
    -- Light Pink: hsl(321, 100%, 78%)
    -- Light Red: hsl(0, 100%, 63%)
    */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header .head-right a{
    position: revert;
    display: flex;
    margin: 10px 0px 10px 350px;
    background: var(--main-color);
    color: hsl(321, 100%, 78%);
    border: 2px solid hsl(321, 100%, 78%);
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    justify-content: center;
}
body{
    background-color: var(--main-color);
}
.sec .text-intro a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: hsl(321, 100%, 78%);
    color: var(--main-color);
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    
}

div .text-intro{
    display: inline;
    justify-content: center;
    text-align: center;    
}

