:root{
    --main-color: #ebe9f8;
    /*
    Primary
    --Pink: hsl(322, 100%, 66%)
    -- Light Pink: hsl(321, 100%, 78%)
    -- Light Red: hsl(0, 100%, 63%)
    */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--main-color);
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 80px;
}
header img{
    position: relative;
    max-width: 150px;  
    
}
.head-right ul li{
    list-style: none;
}
.head-right ul li a{
        
    background: var(--main-color);
    color: hsl(321, 100%, 78%);
    border: 2px solid hsl(321, 100%, 78%);
    border-radius: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    /*justify-content: center;
    margin-bottom: 280px;*/    
}
/*
header>ul>li>a{

}
*/
.text-intro p{
    font-family: "Open Sans";
    font-weight: 400;
}
.sec .text-intro a{
    display: flex;
    margin: 20px 70px;
    padding: 8px 20px;
    background: hsl(321, 100%, 78%);
    color: var(--main-color);
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    
}

.sec .text-intro h1{
    text-align: center;
    padding-bottom: 30px;    
}
.sec .text-intro p{
    text-align: center;
    padding-bottom: 30px;    
}
/*
@media ()
*/