:root{
    --main-color: #ebe9f8;
    /*
    Primary
    --Pink: hsl(322, 100%, 66%)
    -- Light Pink: hsl(321, 100%, 78%)
    -- Light Red: hsl(0, 100%, 63%)
    */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.text-intro{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

